

.toolbar {
  position: fixed;
  top: 0;  /* Mantiene el header en la parte superior */
  left: 0; /* Asegura que cubra toda la pantalla */
  width: 100%; /* Hace que ocupe toda la pantalla correctamente */
  height: 70px; /* Ajusta el alto del header */
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
  box-sizing: border-box;
  border-bottom: 1px solid #333; /* Línea sutil para separación */
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-title a {
  text-decoration: none;
  color: rgb(223, 223, 133);
  font-weight: bold;
  font-size: 1.5rem;
}

.toolbar-title a:hover {
  color: rgb(240, 240, 190); 
  cursor: pointer;  
}

.mat-menu {
  color: rgb(223, 223, 133);
  position: fixed;
  
}

.mat-menu:hover{
  background-color: #000; 
  color: rgb(240, 240, 190); 
  cursor: pointer;  
}