

.toolbar-title a {
  text-decoration: none;
  color: rgb(223, 223, 133);
  font-weight: bold;
  font-size: 1.2rem;
}

.toolbar-title a:hover {
  color: rgb(240, 240, 190); 
  cursor: pointer;  
}

.spacer {
  flex: 1 1 auto;
}

.mat-menu {
  color: rgb(223, 223, 133);
  
}

.mat-menu:hover{
  background-color: black;
  color: rgb(240, 240, 190); 
  cursor: pointer;  
}