
form {
    border: solid rgb(223, 223, 133);
    padding: 7px;
    margin-bottom: 7px;
}

label{
    font-size: 14px;
    margin-bottom: 27px;
    margin-right: 27px;
}

input{
    margin-bottom: 15px;
}

select {
    margin-bottom: 7px;
}

.card-container {
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente si el contenedor tiene una altura fija */
    min-height: 97vh; 
    min-width: 117vh;
  }
  
  .custom-card {
    color: rgb(248, 241, 232);
    border: 4px solid rgb(223, 223, 133);
    width: 37.33%; 
    margin-top: 30px; 
    padding: 1rem; 
    box-shadow: 8px 8px 8px rgba(0.0, 0.0, 0.7, 0.7); /* Añade sombra */
    min-height: 55vh;
    min-width: 15vh;
    background-color: rgb(18, 13, 13);
    position: relative; /* Posiciona el contenedor como relativo */
  }

  /* Pantallas entre 726px y 926px */
@media (max-width: 926px) and (min-width: 726px) {
  .card-container {
    position: absolute;
    transform: translate(7%, 2%);
  }
  .custom-card {
    min-width: 25vh;

  }
}

/* Pantallas entre 560px y 725px */
@media (max-width: 725px) and (min-width: 560px) {
  .card-container {
    max-width: 87vh;
    position: absolute;
    transform: translate(-12%, 3%);
  }
  .custom-card {
    min-width: 25vh;
  }
}

@media (max-width: 560px) and (min-width: 425px) {
  .card-container {
    max-width: 87vh;
    position: absolute;
    transform: translate(-18%, 3%);
  }
  .custom-card {
    min-width: 25vh;
  }
}

@media (max-width: 425px) and (min-width: 310px) {
  .card-container {
    max-width: 97vh;
    margin-right: 50px;
    position: absolute;
    transform: translate(-18%, 3%);
  }
  .custom-card {
    min-width: 25vh;
  }
}

@media (max-width: 309px) and (min-width: 210px) {
  .card-container {
    max-width: 97vh;
    position: absolute;
    transform: translate(-18%, 3%);
  }
  .custom-card {
    min-width: 25vh;
  }
}


  .button-container {
    position: absolute;
    bottom: 10px;
    left: 17px;
    right: 17px; /* Extiende el contenedor hasta la derecha */
    display: flex;
    justify-content: space-between; /* Distribuye los botones a los extremos */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 17px;
  }

  .boton {
    color: black;
    background-color: rgb(223, 223, 133);
    margin-top: 10px;
    margin-bottom: 17px;
    width: auto; /* Ajusta el ancho del botón al contenido */
    border-radius: 9px; 
    font-family: 'Roboto', sans-serif; 
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    padding: 12px 20px; /* Aumenta el padding para hacer el botón más alto */
    border: 1px solid rgba(0, 0, 0, 0.4); 
  }

  .boton-reset {
    color: black;
    background-color: rgb(237, 61, 22);
    margin-top: 10px;
    margin-bottom: 17px;
    width: auto; /* Ajusta el ancho del botón al contenido */
    border-radius: 9px; 
    font-family: 'Roboto', sans-serif; 
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    padding: 12px 20px; /* Aumenta el padding para hacer el botón más alto */
    border: 1px solid rgba(0, 0, 0, 0.4); 
  }
  
  .boton:hover {
    background-color: rgb(240, 240, 190); 
    cursor: pointer; /* Cambia el cursor a una mano */
  }

  .boton-reset:hover {
    background-color: rgb(184, 52, 12); 
    cursor: pointer; /* Cambia el cursor a una mano */
  }

  //Labels
  .cantidad{
    max-width: 20.7%;
    margin-right: 86px;
  }

  .cantidadinput{
    max-width: 21.5%;
  }

  .level{
    margin-right: 147px;
  }

  .idioma{
    margin-right: 117px;
  }

  .timetag{
    margin-right: 112px;
  }

  .progreso {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  //radio button
.form-group input[type="radio"] {
  width: auto; /* Ajusta el tamaño según el contenido */
  height: auto; /* Ajusta el tamaño según el contenido */
  border: 2px solid #ffc107; /* Color de borde amarillo */
  display: inline-flex;
  margin-right: 5px;
}

.espacio{
  margin-top: 7px;
  margin-bottom: 7px;
}

.error-link.disabled {
  pointer-events: none; /* Evita clics mientras carga */
  opacity: 0.5; /* Reduce visibilidad */
  cursor: not-allowed;
}
////////////////////////////////* Contenedor del spinner *//////////////////////////////////
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.1); /* Borde gris claro */
  border-top: 10px solid #DFDF85; /* Amarillo (#DFDF85) */
  border-right: 10px solid #e8e897; /* Naranja pálido (#FFC48C) */
  border-radius: 50%;
  animation: spin 1.2s linear infinite, color-change 2s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animación de cambio de color */
@keyframes color-change {
  0% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
  50% {
    border-top-color: #e8e897; /* Naranja pálido */
    border-right-color: #DFDF85; /* Amarillo */
  }
  100% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
}

////////////////////////////////* FIN Contenedor del spinner *//////////////////////////////////

