<app-header [title]="title"></app-header>

<body>
  <div class="card-container">
    <!-- Preguntas y Respuestas en dos columnas -->
    <mat-card class="custom-card">
      <div class="row">
        <!-- Columna 1: Diseño de botones con *ngFor -->
        <div class="col">
          <button mat-flat-button color="primary" class="boton" *ngFor="let palabra of dataTablePreguntas">{{ palabra }}</button>
        </div>

        <!-- Columna 2: Selectores dinámicos basados en cantidad de preguntas -->
        <div class="col">
          <form [formGroup]="form" (ngSubmit)="enviar()">
            <div class="form-group" *ngFor="let index of cantidadArray">
              <select [name]="'respuesta' + index" [formControlName]="'respuesta' + index">
                <option value="Respuesta1">Respuesta1</option>
                <option value="Respuesta2">Respuesta2</option>
                <option value="Respuesta3">Respuesta3</option>
                <option value="Respuesta4">Respuesta4</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="float-left">
        <button mat-flat-button color="primary" class="boton" (click)="enviar()">Enviar</button>
      </div>

      <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progreso"></mat-progress-bar>
    </mat-card>
  </div>
</body>

<app-footer></app-footer>
