.card-container {
  border-radius: 49px;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente si el contenedor tiene una altura fija */
  min-height: 107vh; 
  min-width: 117vh;
}

.custom-card {
  color: rgb(248, 241, 232);
  border: 4px solid rgb(223, 223, 133);
  width: 37.33%; 
  margin-top: 30px; 
  padding: 1rem; 
  box-shadow: 8px 8px 8px rgba(0.0, 0.0, 0.7, 0.7); /* Añade sombra para mejor visibilidad */
  min-height: 55vh;
  min-width: 15vh;
  background-color: rgb(18, 13, 13);
  position: relative; /* Posiciona el contenedor como relativo */
}

.button-container {
  position: absolute; /* Fija la posición respecto al contenedor padre */
  bottom: 10px; /* Alinea los botones a 10px del fondo */
  left: 17px; /* Alinea los botones a 10px del lado izquierdo */
  display: flex; /* Asegura que los botones estén alineados si hay más de uno */
  gap: 10px; /* Espaciado entre los botones si hay más de uno */
  margin-top: 17px;
}

.boton {
  color: black;
  background-color: rgb(223, 223, 133);
  margin-top: 10px;
  margin-bottom: 17px;
  width: 100px;
  border-radius: 9px; /* Esquinas más redondeadas */
  font-family: 'Roboto', sans-serif; /* Tipo de letra */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  padding: 12px 20px; /* Aumenta el padding para hacer el botón más alto */
  border: 1px solid rgba(0, 0, 0, 0.4); /* Borde ligero */
  display: inline-block; /* Alineación en línea */
  vertical-align: middle; /* Asegura que se alinee al centro verticalmente con el select */
}

.botonword {
  color: black;
  background-color: rgb(47, 158, 210);
  margin-top: 10px;
  margin-bottom: 17px;
  margin-right: 7px;
  width: 100px;
  border-radius: 9px; /* Esquinas más redondeadas */
  font-family: 'Roboto', sans-serif; /* Tipo de letra */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  padding: 12px 20px; /* Aumenta el padding para hacer el botón más alto */
  border: 1px solid rgba(0, 0, 0, 0.4); /* Borde ligero */
  display: inline-block; /* Alineación en línea */
  vertical-align: middle; /* Asegura que se alinee al centro verticalmente con el select */
}

.boton:hover {
  background-color: rgb(240, 240, 190); 
  cursor: pointer; /* Cambia el cursor a una mano */
}

.botonword:hover {
  background-color: rgb(111, 218, 239); 
}

select {
  margin-left: 10px; /* Espacio entre botón y select */
  display: inline-block; /* Alineación en línea */
  vertical-align: middle; /* Asegura que se alinee al centro verticalmente con el botón */
  width: 150px; /* Ajusta el ancho del select */
}

.form-group {
  margin-bottom: 12px; /* Espacio entre cada fila de botón y select */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que se alineen como columnas flexibles */
  justify-content: space-between; /* Espacio entre las columnas */
}

.col {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido al inicio de la fila */
  align-items: center; /* Centra verticalmente los botones y selects */
  min-width: 10vh;
}


.contador-display {
  color: rgb(223, 223, 133);
  font-family: 'Roboto', sans-serif; /* Tipo de letra */
  font-weight: bold; /* Para resaltar el texto */
  margin-top: 17px;
  margin-left: 7px;
}

.select{
  min-width: 10vh;
}

////////////////////////////////* Contenedor del spinner *//////////////////////////////////
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.1); /* Borde gris claro */
  border-top: 10px solid #DFDF85; /* Amarillo (#DFDF85) */
  border-right: 10px solid #e8e897; /* Naranja pálido (#FFC48C) */
  border-radius: 50%;
  animation: spin 1.2s linear infinite, color-change 2s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animación de cambio de color */
@keyframes color-change {
  0% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
  50% {
    border-top-color: #e8e897; /* Naranja pálido */
    border-right-color: #DFDF85; /* Amarillo */
  }
  100% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
}

////////////////////////////////* FIN Contenedor del spinner *//////////////////////////////////
