
<app-header [title]="title"></app-header>

<body>
  <div class="card-container">
    <!-- Flecha para retroceder -->
    

    <!-- Contenedor de preguntas -->
    <mat-card class="custom-card">
      <button class="arrow-left" (click)="previousPage()"><</button>
      <form [formGroup]="form" (ngSubmit)="enviar()">
        <div class="carousel">
          <div class="questions-container">
            <!-- Preguntas y respuestas alineadas verticalmente -->
            <div class="form-group" *ngFor="let index of getCurrentPageQuestions()">
              <div class="col">
                <button mat-flat-button color="primary" class="botonword">
                  {{ dataTablePreguntas[index] }}
                </button>
                <label>Respuesta</label>
                <select class="select" [name]="'respuesta' + index" [formControlName]="'respuesta' + index">
                  <option *ngFor="let respuesta of dataTableRespuestas | shuffle" [value]="respuesta">
                    {{ respuesta }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Botón terminar -->
        <div class="button-container">
          <!-- Mostrar el botón "Terminar" solo en la última página -->
          <button *ngIf="isLastPage()" mat-flat-button color="primary" class="boton" (click)="enviar()">Terminar</button>
          <span class="contador-display">{{ contador }} segundos restantes</span>
        </div>
      </form>

      <!-- Spinner de carga -->
      <div *ngIf="loading" class="spinner-container">
        <div class="custom-spinner"></div>
      </div>
      <button class="arrow-right" (click)="nextPage()">></button>
    </mat-card>

    <!-- Flecha para avanzar -->
    
  </div>
</body>

<app-footer></app-footer>


