<app-header [title]="title"></app-header>

<!--Aceptar cookies-->
<div id="cookie-banner" class="cookie-banner" *ngIf="!cookiesAccepted">
  <p>Usamos cookies para mejorar tu experiencia. Al continuar navegando, aceptas el uso de cookies y nuestras <a href="/privacy-policy" target="_blank">políticas de privacidad</a>.</p>
  <button mat-button color="primary" (click)="acceptCookies()">Aceptar</button>
</div>

<body>
  <div class="card-container">
    <mat-card class="custom-card">
      <form [formGroup]="form" (ngSubmit)="empezar()">
        <div class="form-group">
          <label for="cliente" class="idioma">Elige tu idioma:</label>
          <select name="idioma" formControlName="idioma">
            <option value="Ingles">Inglés</option>
            <option value="Portugues">Portugués</option>
            <option value="Italiano">Italiano</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nivel" class="level">Nivel:</label>
          <select name="nivel" formControlName="nivel">
            
            <ng-container *ngIf="form.get('idioma')?.value === 'Ingles'">
              <option value="principiante">Principiante (A0)</option>
              <option value="basico">Básico (A1)</option>
              <option value="basico-alto">Básico-Alto (A2)</option>
              <option value="intermedio">Intermedio (B1)</option>
              <option value="intermedio-alto" [disabled]="!login">Intermedio-Alto (B2)</option>
              <option value="avanzado" [disabled]="!login">Avanzado (C1)</option>
              <small *ngIf="!login" style="color: goldenrod; font-style: italic;">
                ⚠️ Inicia sesión para acceder a los niveles avanzados.
              </small>
            </ng-container>
            

            <!-- Opciones para Italiano -->
            <ng-container *ngIf="form.get('idioma')?.value === 'Italiano'">
              <option value="italiano-principiante">Italiano Principiante</option>
              <!-- <option value="italiano-basico">Italiano Básico</option>
              <option value="italiano-intermedio">Italiano Intermedio</option> -->
            </ng-container>
        
            <!-- Opciones para Portugués -->
            <ng-container *ngIf="form.get('idioma')?.value === 'Portugues'">
              <option value="portugues-principiante">Portugués Principiante</option>
              <!-- <option value="portugues-basico">Portugués Básico</option>
              <option value="portugues-intermedio">Portugués Intermedio</option> -->
            </ng-container>
          </select>
          
        </div>
        
        <div class="form-group">
          <label for="nproyecto" class="cantidad">N° de preguntas:</label>
          <input 
          type="number" 
          name="cantidad" 
          class="cantidadinput" 
          min="3" 
          max="12" 
          formControlName="cantidad" 
          placeholder="0"
          (input)="validarCantidad()">
        </div>
        <div class="form-group">
          <label for="nproyecto" class="timetag">Con Tiempo:</label>
          <input type="radio" id="time-si" name="time" [value]="true" formControlName="time">
          <label for="time-si" class="time">Sí</label>
          <input type="radio" id="time-no" name="time" [value]="false" formControlName="time">
          <label for="time-no" class="time">No</label>
        </div>
        <div class="button-container">
          <button mat-flat-button color="primary" class="boton" type="submit">Empezar</button>
        </div>
      </form>
      
      <div *ngIf="loading" class="spinner-container">
        <div class="custom-spinner"></div>
      </div>
    </mat-card>
    
  </div>
</body>

<app-footer></app-footer>
