
form {
    border: solid rgb(25, 163, 212);
    padding: 7px;
    margin-bottom: 7px;
}

label{
    font-size: 14px;
    margin-bottom: 27px;
    margin-right: 7px;
}

input{
    margin-bottom: 15px;
}

select {
    margin-bottom: 7px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente si el contenedor tiene una altura fija */
    min-height: 90vh; /* Asegura que el contenedor ocupe al menos la altura completa de la ventana */
  }
  
  .custom-card {
    border: 4px solid rgb(25, 163, 212);
    width: 33.33%; 
    margin-top: 30px; 
    padding: 1rem; 
    box-shadow: 8px 8px 8px rgba(0.0, 0.0, 0.7, 0.7); /* Añade sombra para mejor visibilidad */
    min-height: 40vh;
  }

  .boton {
    margin-top: 10px;
    margin-bottom: 17px;
    width: 100px
  }

  //Labels
  .cantidad{
    max-width: 22%;
    margin-right: 16px;
  }

  .level{
    margin-right: 120px;
  }

  .idioma{
    margin-right: 90px;
  }

  .progreso {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }