
form {
    border: solid rgb(223, 223, 133);
    padding: 7px;
    margin-bottom: 7px;
}

label {
  font-size: 14px;
  width: 120px; /* Se asigna un ancho fijo para todos los labels */
  text-align: right;
}

input, select {
  flex: 1; /* Hace que todos los inputs ocupen el mismo espacio */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 200px; /* Se mantiene igual en todos los formularios */
  height: 40px; /* Se asegura de que todos los campos tengan la misma altura */
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  width: 97%;
  margin-top: 7px;
}

.card-container {
  border-radius: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 90vh;
  width: 100%;
  padding: 0 10px; /* Márgenes laterales para evitar que el card toque los bordes */

}

.custom-card {
  color: rgb(248, 241, 232);
  border: 4px solid rgb(223, 223, 133);
  width: 97%; /* Ocupará el 50% del ancho en pantallas grandes */
  max-width: 500px; /* No crecerá más allá de 500px */
  min-width: 350px; /* No será más pequeño que 320px */
  margin-right: 77px;
  padding: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
  background-color: rgb(18, 13, 13);
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 37px;
}

.form-group input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.form-group label.time {
  width: auto; /* Ajusta los labels para radio buttons */
  margin-left: 5px;
}

.cantidadinput {
  height: 19px; /* Misma altura que los otros inputs */
  width: 30%; /* La mitad del ancho de los otros inputs */
  max-width: 80px; /* Controla que no crezca demasiado en pantallas grandes */
}

.cantidad {
  width: 120px; /* Ajuste según el espacio necesario */
  text-align: right;
  margin-right: 10px;
}

  /* Pantallas entre 726px y 926px */
  @media (max-width: 926px) and (min-width: 726px) {
  .custom-card {
    width: 80%; /* Aumenta el ancho en pantallas pequeñas */
    max-width: 420px; /* Ajusta el límite superior */

  }
}

/* Pantallas entre 560px y 725px */
@media (max-width: 725px) and (min-width: 560px) {
  .custom-card {
    width: 80%; /* Aumenta el ancho en pantallas pequeñas */
    max-width: 420px; /* Ajusta el límite superior */
  }
}

@media (max-width: 560px) and (min-width: 425px) {
  .custom-card {
    width: 97%; /* Ocupa casi todo el ancho en móviles */
    max-width: 390px;
  }
}

@media (max-width: 425px) {
  .custom-card {
    width: 97%; /* Ocupa casi todo el ancho en móviles */
    max-width: 437px;
    min-width: 437px;
    margin-left: 127px;
  }
  .card-container{
    max-width: 437px;
    min-width: 437px;
  }
}

.button-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px; /* Espacio entre botón y enlace */
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.boton {
  color: black;
  background-color: rgb(223, 223, 133);
  margin-top: 10px;
  margin-bottom: 17px;
  width: 100px;
  border-radius: 9px; /* Esquinas más redondeadas */
  font-family: 'Roboto', sans-serif; 
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  padding: 12px 20px; /* Aumenta el padding para hacer el botón más alto */
  border: 1px solid rgba(0, 0, 0, 0.4); /* Borde ligero */
}

.boton:hover {
  background-color: rgb(240, 240, 190);
  cursor: pointer;
}


.form-group input[type="radio"] {
  width: 7px; /* Tamaño reducido */
  height: 14px;
  transform: scale(1.2); /* Alternativa para reducir tamaño sin afectar layout */
  margin-left: 5px; /* Reduce el espacio entre el label y el radio button */
  margin-right: 5px; /* Reduce el espacio entre el radio button y la etiqueta siguiente */
}

.form-group label.time {
  width: auto; 
  margin-top: 3px;
  margin-right: 10px; 
  margin-left: -107px;
}

////////////////////////////////* Cookie banner privacy *//////////////////////////////////

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
}

.cookie-banner p {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
}

.cookie-banner button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.cookie-banner button:hover {
  background-color: #0056b3;
}


.progress{
  margin-top: 17px;
}

.mensaje-bloqueo {
  color: goldenrod;
  font-style: italic;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
}


////////////////////////////////* Contenedor del spinner *//////////////////////////////////
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.1); /* Borde gris claro */
  border-top: 10px solid #DFDF85; /* Amarillo (#DFDF85) */
  border-right: 10px solid #e8e897; /* Naranja pálido (#FFC48C) */
  border-radius: 50%;
  animation: spin 1.2s linear infinite, color-change 2s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animación de cambio de color */
@keyframes color-change {
  0% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
  50% {
    border-top-color: #e8e897; /* Naranja pálido */
    border-right-color: #DFDF85; /* Amarillo */
  }
  100% {
    border-top-color: #DFDF85; /* Amarillo */
    border-right-color: #e8e897; /* Naranja pálido */
  }
}

////////////////////////////////* FIN Contenedor del spinner *//////////////////////////////////
