<app-header [title]="title"></app-header>

<body>
  <div class="card-container">
    <mat-card class="custom-card">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="usuario" class="cantidad">Usuario:</label>
          <input type="text" name="usuario" class="usuario" formControlName="usuario" placeholder="Ingresa Tu correo">
        </div>

        <div class="form-group" style="position: relative;">
          <label for="password" class="cantidad">Contraseña:</label>
          <input [type]="verPassword ? 'text' : 'password'" name="password" class="password" formControlName="password"
            placeholder="Ingresa Tu contraseña" style="padding-right: 2.5rem;">
          <button type="button" (click)="togglePassword()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
           background: none; border: none; cursor: pointer; font-size: 1.2rem;">
            {{ verPassword ? '🔓' : '🔒'}}
          </button>
        </div>

      </form>

      <div class="button-container">
        <button mat-flat-button color="primary" class="boton" (click)="login()">Ingresar</button>
        <a routerLink="/crear-usuario" class="crear-usuario-link">Crear usuario</a>
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progreso"></mat-progress-bar>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</body>
<app-footer></app-footer>