
footer {
  height: 177px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  margin-top: 47px; 
  margin-bottom: 0; 
  border: 2px solid rgba(0, 0, 0.7, 0.8); /* Borde ligero */
  border-radius: 7px;
  min-width: 100vh;
}

.titulo {
  color: rgb(240, 240, 190); 
  margin-left: 20px; /* Opcional: margen interno para texto */
  margin-top: 17px;
  text-align: left; /* Alinea a la izquierda */
  font-size: 24px; /* Ajusta el tamaño de fuente */
}

.titulo:hover {
  color: rgb(240, 240, 190); 
}

.titulo2 {
  color: rgb(240, 240, 190); 
  margin-left: 20px; /* Opcional: margen interno para texto */
  margin-top: 10px;
  text-align: left; /* Alinea a la izquierda */
  font-size: 14px; /* Ajusta el tamaño de fuente */
}