
.toolbar{
  width: calc(100% - 10px); /* Resta los márgenes izquierdo y derecho del body */
  margin-bottom: 7px;
  height: 87px; 
  background-color: #000; 
  color: #fff; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el header esté encima de otros elementos */
  box-sizing: border-box; /* Incluye padding y border en el ancho */
  border: 1px solid #000;  /* Borde ligero */
  border-radius: 5px;
  min-height: 27vh; 
  min-width: 100vh;
}

.titulo {
  color: rgb(240, 240, 190); 
  margin-left: 20px; /* Opcional: margen interno para texto */
  margin-top: 17px;
  text-align: left; /* Alinea a la izquierda */
  font-size: 24px; /* Ajusta el tamaño de fuente */
}

.titulo:hover {
  color: rgb(240, 240, 190); 
}

.titulo2 {
  color: rgb(240, 240, 190); 
  margin-left: 20px; /* Opcional: margen interno para texto */
  margin-top: 10px;
  text-align: right; /* Alinea a la izquierda */
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}