<app-header [title]="title"></app-header>

<body>
    <div class="card-container">
        <!-- Tarjeta Principal -->
        <mat-card class="custom-card">
            <mat-card-title class="title">
                <img src="assets/images/trophy.png" alt="Trophy" class="trophy-icon">
                TOP Users
            </mat-card-title>
            <div class="espacio2"></div>

            <mat-card-content>
                <!-- Contenedor de la tabla con scroll -->
                <div class="table-container">
                    <table mat-table [dataSource]="topUsers" class="mat-elevation-z8">

                        <!-- Columna de Posición (N°) -->
                        <ng-container matColumnDef="position">
                         <th mat-header-cell *matHeaderCellDef> N° </th>
                         <td mat-cell *matCellDef="let user"> {{ user.position }} </td>
                        </ng-container>

                        <!-- Columna de Avatar -->
                        <ng-container matColumnDef="avatar">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let user">
                                <img [src]="user.avatar" alt="Avatar" class="avatar">
                            </td>
                        </ng-container>

                        <!-- Columna de Usuario -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> User </th>
                            <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
                        </ng-container>

                        <!-- Columna de Puntaje -->
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let user">
                                <span [ngStyle]="{'color': user.score >= 0 ? 'green' : 'red'}">
                                    {{ user.score }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Columna de Idioma -->
                        <ng-container matColumnDef="language">
                            <th mat-header-cell *matHeaderCellDef> Language </th>
                            <td mat-cell *matCellDef="let user"> {{ user.language }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>

        </mat-card>
    </div>
</body>

<app-footer></app-footer>
