/* Estilos del formulario */
form {
  border: solid rgb(223, 223, 133);
  padding: 7px;
  margin-bottom: 7px;
}

/* Estilos del contenedor de la tarjeta */
.card-container {
  border-radius: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87vh;
  min-width: 70vh;
}

.custom-card {
  color: rgb(248, 241, 232);
  border: 4px solid rgb(223, 223, 133);
  width: 87%;
  max-width: 500px;
  min-width: 240px;
  margin-top: 27px;
  padding: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
  min-height: 40vh;
  background-color: rgb(18, 13, 13);
}

/* Estilos de los inputs */
.input-text {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 9px;
  width: 100%;
  max-width: 250px;
  height: 40px;
}

/* Estilos de la estructura del formulario */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

/* Estilos del botón */
.boton {
  color: black;
  background-color: rgb(223, 223, 133);
  margin-top: 10px;
  margin-bottom: 17px;
  width: 100px;
  border-radius: 9px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.boton:hover {
  background-color: rgb(240, 240, 190);
  cursor: pointer;
}

/* Estilos del contenedor del botón */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mensaje-error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}