<app-header [title]="title"></app-header>

<body>

    <div class="card-container">
        <!--Card 1-->
        <mat-card class="custom-card">
            <mat-card-title>Errores a Corregir</mat-card-title>
            <div class="espacio2"></div>

            <mat-card-content>
                <!-- Contenedor con scroll para la tabla -->
                <div class="table-container">
                    <table mat-table [dataSource]="errores" class="mat-elevation-z8">
            
                        <!-- Número -->
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> Número </th>
                            <td mat-cell *matCellDef="let element"> {{ element.numero }} </td>
                        </ng-container>
            
                        <!-- Error -->
                        <ng-container matColumnDef="error">
                            <th mat-header-cell *matHeaderCellDef> Error </th>
                            <td mat-cell *matCellDef="let element"> {{ element.error }} </td>
                        </ng-container>
            
                        <!-- Corrección -->
                        <ng-container matColumnDef="correccion">
                            <th mat-header-cell *matHeaderCellDef> Corrección </th>
                            <td mat-cell *matCellDef="let element"> {{ element.correccion }} </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>
            

            <div class="button-container">
                <button mat-flat-button color="primary" class="boton"
                    (click)="volver()">Volver</button>
            </div>

        </mat-card>

        <div class="espacio"></div>
        <!--Card 2-->

    </div>

</body>

<app-footer></app-footer>